body {
	background-color: #1e1e1e;
	color: #fff;
	cursor: default;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
}

header {
	display: block;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
	padding: 0px 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 60px;;
	box-sizing: border-box;
	top: 0;
	width: 100%;
}

aside {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
}

article {
	position: fixed;
	margin: 15px;
	margin-top: 55px;
}

div.bg-img {
	background-attachment: fixed;
	background-image: url("../img/bg1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	height: 100%;
	left: 0;
	opacity: 0.9;
	position: fixed;
	top: 0;
	transform: scale(1.0);
	width: 100%;
	z-index: -1
}

div.bg-img {
	animation-name: bg_into;
	animation-duration: 1.2s;
	animation-timing-function: cubic-bezier(0.8, 0.2, 0.2, 0.8);
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes bg_into {
	0% {
		transform: scale(1.2);
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-filter: blur(32px);
		filter: blur(32px);
	}

	100% {
		transform: scale(1.0);
		background-color: rgba(0, 0, 0, 0.0);
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
}