body {
	background-color: #1e1e1e;
	color: #fff;
	cursor: default;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18px;
	margin: 0;
}

article {
	position: relative;
	top: 50px;
	opacity: 0;
	margin: 15px;
	/*margin-top: 6%;*/
	z-index: 0;
}

article {
	animation-delay: 1s;
	animation-name: article-into;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@keyframes article-into {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 255;
	}
}

header {
	animation-name: header-into;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes header-into {
	0% {
		top: -40%;
	}

	100% {
		top: 0;
	}
}


