.logo_font {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin-right: 100px;
    float: left;
    transition: 0.2s;
}

.logo_font:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo_font:active {
    background-color: rgba(255, 255, 255, 0.4);
}

img.myface {
    border-radius: 50%;
}

div.header_link {
    padding-top: 10px;
    padding-bottom: 10px;
    position: center;
    float: left;
}

a.header_item {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    transition: 0.2s;
}

a.header_item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(98, 166, 255);
}

a.header_item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(98, 166, 255);
}


/* Button */
input.button {
    display: flex;
    margin: 8px;
    padding: 16px;
    border: 0px;
    border-radius: 12px;
    background-color: rgba(27, 27, 27, 0.4);
    font-size: 14px;
    color: #eee;
    cursor: pointer;
    transition: 0.2s;
}

input.button:hover {
    background-color: rgba(27, 27, 27, 1);
    /*transition: all 0.2;*/
}

input.button:active {
    background-color: rgba(100, 100, 100, 0.5);
}